<%= @restaurant.name %>
<%= @restaurant.address %>
<%= @restaurant.phone_number %>
<%= @restaurant.category %>

<ul class="list-group">
  <% @restaurant.reviews.each do |review| %>
    <li class="list-group-item">Review: <%= review.content %></li>
    <li class="list-group-item">Rating: <%= review.rating %></li>
  <% end %>
</ul>

<%= link_to 'Delete', restaurant_path(@restaurant), class: "btn btn-primary", method: :delete %>

<%= link_to 'Edit', edit_restaurant_path(@restaurant), class: "btn btn-primary"%>
<%= link_to 'add review', new_restaurant_review_path(@restaurant), class: "btn btn-primary"%>

<%= link_to "home", restaurants_path, class: "btn btn-primary" %>